body{
  background-color:tomato;
}

#grid{
  width:300px;
  display:grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
#grid img{
  width:100%;
  height:auto;
  border: 1px white solid;
}
